<nav id="topo" class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"></a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"><strong>DANIEL AZEVEDO</strong> </a>
        </li>

        <li class="nav-item">
          <strong><a class="nav-link" routerLink="novo-post" style="color: rgb(216, 216, 255)">NOVO POST</a></strong>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/direito">Direito</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/tecnologia">Tecnologia</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Entretenimento
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Música</a></li>
            <li><a class="dropdown-item" href="#">Filmes e séries</a></li>
            <li><a class="dropdown-item" href="#">Livros</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/opinioes">Opiniões</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/quem-sou-eu">Quem sou eu</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/fale-comigo">Fale comigo</a>
        </li>
      </ul>

      <form class="d-flex align-items-center">
        <input 
          class="form-control me-2" 
          type="search" 
          placeholder="Procurar" 
          aria-label="Search" />
        <button 
          id="btnPesquisar" 
          class="btn btn-outline-success" 
          type="submit">
          Pesquisar
        </button>
      </form>
      
    </div>
  </div>
</nav>
