@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Mulish:wght@200&family=Playfair+Display:wght@600&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(fundo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#topo, #rodape {
  position: fixed;
  width: 100%;
  z-index: 1000;
  opacity: 0.8;
  background-color: #333;
}

#topo {
  top: 0;
  left: 0;
}

#rodape {
  bottom: 0;
  left: 0;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  z-index: 1001; /* Adicione esta linha */
}

#rodape .navbar-brand {
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 0.9rem;
}

#foto-inicio {
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 370px;
  height: auto;
  margin-bottom: 30px; /* Adicione esta linha */
}

#container-conteudo {
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - 160px);
}

p{ 
  font-weight: bolder;
}


h1 {
  font-family: "Playfair Display", serif; /* Altere a fonte para "Playfair Display" */
  font-weight: 600;
  font-size: 3rem; /* Aumente o tamanho da fonte */
  color: #4a4a4a; /* Mude a cor para um tom de cinza mais escuro */
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase; /* Transforme o texto em letras maiúsculas */
  letter-spacing: 1px; /* Adicione um espaçamento entre as letras */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Adicione uma sombra suave ao texto */
}

li.nav-item a {
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
  transition: color 0.5s, background-color 0.8s;
}

li.nav-item a:hover {
  background-color: rgb(134, 0, 0);
  border-radius: 10px;
}

.navbar-toggler {
  border: none;
  background: transparent;
  padding: 0.25rem 0.5rem;
  outline: none;
  cursor: pointer;
}


.navbar-toggler span {
  display: block;
  width: 24px;
  height: 3px;
  margin-bottom: 4px;
  background-color: #fff;
  border-radius: 2px;
}

.navbar-collapse {
  display: none;
}

.navbar-collapse.show {
  display: block;
}

@media (min-width: 768px) {
  .navbar-toggler {
  display: none;
  }
  
  .navbar-collapse {
  display: flex;
  }
  }
  
  #rodape svg {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  }
  
  #rodape span {
  vertical-align: middle;
  }
  
  #rodape p {
  font-size: 0.8rem;
  margin-bottom: 0;
  }

/* Adicione este código CSS no seu arquivo style.css */

/* Estilo para o botão de pesquisa */
.btn-outline-success {
  margin-top: 0.25rem;
}

/* Estilo para alinhar a barra de pesquisa */
.form-control {
  margin-top: 0.65rem;
  margin-bottom: 0.25rem;
}

#btnPesquisar {
  color: white;
}

/* Estilo para os cards */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
  text-align: center; /* Adicione esta linha */
}

.card-title {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #4a4a4a;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 2rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

#foto-artigo {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: cover;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-sm-6 {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}

a.ler-artigo:hover {
  background-color: #820000;
  color: white;
  transition: color 0.2s, background-color 0.2s;
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }
}