/* Estilo para a área externa do formulário */
.container-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para os elementos do formulário */
.container-form label {
    color: #555;
    margin-bottom: 0.5rem;
}

.container-form .form-control {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    font-size: 16px;
    transition: border-color 0.2s;
}

.container-form .form-control:focus {
    border-color: #aaa;
    outline: none;
    box-shadow: none;
}

.container-form button.btn-primary {
    background-color: #555;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 1rem;  /* Adicionado para separar o botão da caixa de texto */
}


.container-form button.btn-primary:hover {
    background-color: #333;
}

.container-form .row {
    margin-bottom: 1rem;
}
