<footer class="footer" id="footer-page">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <div>
                <small>© 2024 Daniel Azevedo - Todos os direitos reservados.</small>
            </div>
            <div class="social-links mt-2">
                <a href="https://github.com/daniel-azevedo-maia" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/daniel-azevedo-maia/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/daniel.azevedo.maia/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" id="politica-privacidade">Política de Privacidade (em construção)</a>
            </div>
        </div>
    </div>
  </footer>
  