<div class="container mt-5">
    <h2>Quem sou eu?</h2>
  
    <div class="card mb-5" id="container-conteudo">
      <div class="row g-0">
  
         <!-- Seção de Foto -->
         <div class="col-md-4" id="secao-foto">
          <img src="../../assets/foto-bio.jpg" alt="Foto de Daniel Azevedo" class="img-fluid" id="foto-principal">
        </div>
  
        <div class="col-md-8">
          <div class="card-body" id="bio-card">
            <p>
              Olá, visitantes! Meu nome é Daniel Azevedo, sou brasileiro e natural
              de João Pessoa/PB!
            </p>
            <p>
              Desde muito novo, sempre fui fascinado pelo mundo da tecnologia. Por
              volta dos 8 anos de idade, no final dos anos 90, já sabia utilizar o
              Windows (na época, o Windows 95!), gostava de explorar as
              funcionalidades deste sistema operacional e, aos poucos, fui
              despertando uma paixão absoluta pelo mundo dos zeros e uns. Era o
              menino que "entendia de tudo" de PCs. Ao invés dos games, meu hobbie
              era vasculhar diretórios, configurações do sistema, coisas como MS-DOS, REGEDIT,
              e cada vez ficava mais maravilhado com aquela sopa de letrinhas de
              linhas de comandos.
            </p>
            <p>
              Isso tudo em uma época em que a Internet estava, digamos, engatinhando. Sim, não
              existia Instagram, Facebook, WhatsApp, YouTube, Tik-Tok, e nem mesmo
              os finados Orkut e MSN. Os buscadores eram limitados e a informação
              não era tão acessível como hoje. A comunicação era via mIRC, ICQ,
              e-mails como BOL e bate-papos como o da UOL. Nossas fotos e
              conteúdos pessoais estavam em Fotologs e blogs. Não havia streamings
              de músicas e filmes. Acompanhei o nascimento e a evolução de
              praticamente todas as mídias sociais dos dias atuais. Eu estava lá!
            </p>
  
            <p>
              No entanto, por influência da família - e um pouco à contragosto -
              acabei seguindo a área do Direito. Em 2013, tornei-me advogado. Fiz
              pós-graduação, presidi uma comissão na Ordem dos Advogados do
              Brasil, atuei em uma série de causas trabalhistas e cíveis, escrevi
              um livro que esgotou a nível nacional, colaborei com outras obras
              jurídicas, fui professor em cursinhos preparatórios, em escolas da
              OAB e até mesmo colunista em uma conhecida rádio daqui de João Pessoa. De fato, havia
              construído uma carreira.
            </p>
  
            <p>Mas sonhos devem ser seguidos...</p>
            <p>
              Em meados de 2019, voltei a flertar com a área de tecnologia. Com a
              iminência da entrada em vigor da Lei Geral de Proteção de Dados
              (LGPD), decidi me especializar nesta área. Passei a atuar em causas
              do ramo do Direito Digital. Fiz outra pós-graduação. Conquistei 5
              certificações internacionais e obtive o título de
              <em>Data Protection Officer</em>, que valida meus conhecimentos em
              segurança da informação, leis e melhores práticas de proteção de
              dados.
            </p>
  
            <p>
              Aliás, foi justamente nesta época, ainda em 2019, e bem por acaso,
              que encontrei um curso de Python online e decidi aprender a
              linguagem. Isso porque, lembro-me bem, quando era muito novo, li que
              os sites continham um tal de "JavaScript", e sempre quis aprender
              programação de alguma forma, mas achava complexo demais. Por isso, me
              encantei com o curso de Python e vi que aquilo poderia abrir as
              portas para aprender mais sobre a Internet e este mundo dos códigos.
            </p>
  
            <p>
              Minha inclinação pela tecnologia já era óbvia e uma provável
              transição de carreira já se avizinhava. Afinal, eu queria muito
              estudar códigos. E não falo do Código Civil ou Código Penal...
            </p>
  
            <p>
              E, sempre flertando com a tecnologia, inevitavelmente decidi virar a
              proa e navegar em busca de novos horizontes...
            </p>
            <p>
              Em 2021, finalmente corri em busca do sonho de infância e me
              matriculei em Ciência da Computação. Simplesmente estava <em>viciado</em> em
              desenvolver e aprender. Com "sangue nos olhos", como dizem sobre os
              que estão sedentos por conhecimento. Desde então, venho me dedicando
              diariamente ao mundo da programação, consolidando
              meus conhecimentos em Java, Spring, C, Python, Django, SQL,
              HTML/CSS, Bootstrap, JavaScript/TypeScript, Angular, Git/GitHub, entre outras tecnologias
              pelas quais sou apaixonado. Há alguns anos, venho construindo meu
              portfólio, com projetos práticos e que resolvem problemas reais do
              nosso dia a dia.
            </p>
  
            <p>
              Atualmente, estou no 6º período do curso de Ciência da Computação. Desde então, já fui monitor das disciplinas "Programação de Computadores" e "Programação
              Orientada a Objetos" na faculdade. Há aproximadamente 5 anos imerso na área, hoje busco me
              tornar um profissional cada vez mais qualificado.
            </p>
  
            <p><strong>Busco fazer da minha vida o sonho de infância :)</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>